ul {
    list-style-type: none;
}
.TeamScoreContainer {
    border-bottom: 1px solid #000;
}
.label {
    font-size: 0.7em;
}
.teamScoreListItem .label {
    font-size: 1.2em;
}
.TeamScoreContainer li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.sideBorder {
    border-right: 1px solid #000;
    margin: 10px;
}
.LeadersTitle {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
@media screen and (max-width: 500px) {
    .LeadersTitle {
        font-size: 1.2em;
    }
    .teamScoreListItem .label {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 350px) {
    .LeadersTitle {
        font-size: 0.9em;
    }
    .teamScoreListItem .label {
        font-size: 0.6em;
    }
}