button {
    background-color: rgba(252,13,27,0.6);
    border: 1px solid #5A5A5A;
    border-radius: 3px;
    padding: 20px;
    width: 100%;
    color: #fff;
}
button:hover {
    background-color: rgba(252,13,27,0.9);
    cursor: pointer;
}
h5 {
    margin-top: 10px;
    color: darkred;
}
.Map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}