.rulesPage {
    overflow: hidden;
    padding: 5px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    height: 95vh;
}
.rulesPage h1 {
    text-align: center;
}
.rulesPage hr{
    color: rgb(113, 17, 12);
    width: 75%;
}
/* .rulesPage ol {
    padding: 1% 2% 0% 2%;
} */